<h3>Cypto Currency Lookup</h3>
<br/>

<%= form_tag home_lookup_path, :method => 'POST' do %>
  <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 50 %>
  <%= submit_tag 'Lookup Stock Quote' %>
<% end %>

<br/>

<% if @symbol %>
  <% @lookup_coin.each do |coin| %>
   <% if @symbol == coin["symbol"] %>
     <%= coin["name"] %> : $<%= coin["price_usd"] %>
   <% end %>
  <% end %>
<% end %>