<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @crypt.symbol %>
</p>

<p>
  <strong>User:</strong>
  <%= @crypt.user %>
</p>

<p>
  <strong>Cost per:</strong>
  <%= @crypt.cost_per %>
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @crypt.amount_owned %>
</p>

<%= link_to 'Edit', edit_crypt_path(@crypt) %> |
<%= link_to 'Back', crypts_path %>
